<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 id="offcanvasRightLabel">@DetailsTitle</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if (Secret is not null)
        {
            <div class="col-10 order-md-last">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Created</th>
                            <td>@Secret.Metadata.CreationTimestamp</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>@Secret.Metadata.Name</td>
                        </tr>
                        <tr>
                            <th scope="row">Namespace</th>
                            <td>@Secret.Metadata.NamespaceProperty</td>
                        </tr>
                        @if (Secret.Metadata.Labels is not null)
                        {
                            <tr>
                                <th scope="row">Labels</th>
                                <td>
                                    @foreach (var label in Secret.Metadata.Labels)
                                    {
                                        <span class="badge bg-secondary me-2">@($"{label.Key}={label.Value}")</span>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <br />

                <h5>Secret Variables</h5>
                <table class="table overflow-scroll">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var env in SecretDetailVmList)
                        {
                            <tr>
                                <th scope="row">@env.Key</th>
                                <td>
                                    @*<span class="badge text-bg-danger rounded-pill" @onclick="@(()=> env.IsDecode = !env.IsDecode)">*@
                                    <span class="badge rounded-pill @(env.IsDecode ? "text-bg-danger" : "text-bg-warning")" @onclick="@(()=> env.IsDecode = !env.IsDecode)">
                                        @(env.IsDecode ? env.DecodedValue : env.EncodedValue)
                                    </span>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }

    </div>
</div>