<div class="offcanvas offcanvas-bottom h-50" tabindex="-1" id="bottomBar" aria-labelledby="offcanvasBottomLabel">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        @foreach (var component in CurrentContext.GetTabComponentMetadatas())
        {

            <li class="nav-item" role="presentation">
                <div class="nav-link @(component.Value.Active?"active":"") d-inline-block" id="@component.Key-tab" data-bs-toggle="tab" data-bs-target="#@component.Key" type="button" role="tab" aria-controls="@component.Key" aria-selected="true" @onclick="()=>CurrentContext.ActiveTabComponent(component.Key)">
                    @component.Value.Name<a class="closeTab d-inline-block" href="" @onclick="()=>CurrentContext.RemoveTabComponents(component.Key)">✕</a>
                </div>
            </li>
        }
    </ul>
    <div class="tab-content" id="myTabContent">
        @foreach (var component in CurrentContext.GetTabComponentMetadatas())
        {
            <div class="tab-pane fade show @(component.Value.Active?"active":"")" id="@component.Key" role="tabpanel" aria-labelledby="@component.Key-tab">
                <DynamicComponent Type="@component.Value.Type" Parameters="@component.Value.Parameters"></DynamicComponent>
            </div>
        }
    </div>
    @if (!CurrentContext.GetTabComponentMetadatas().Any())
    {
        <div class="h-100 d-flex justify-content-center align-items-center display-6 text-secondary">There's no active tab</div>
    }
</div>